confusable-homoglyphs==3.2.0
Django==2.1.4
django-braces==1.13.0
django-crispy-forms==1.7.2
django-extensions==2.1.9
django-floppyforms==1.7.0
django-model-utils==3.1.2
django-postman==3.6.2
django-private-chat==0.2.2
django-registration==3.0
django-social-widgets==0.4.0
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
filelock==3.0.10
gunicorn==19.9.0
Pillow==5.3.0
pluggy==0.8.1
postgres==2.2.2
psycopg2-binary==2.7.7
py==1.7.0
pytz==2018.7
six==1.12.0
toml==0.10.0
tox==3.7.0
virtualenv==16.3.0
websockets==3.2
