<div id="profileImageChangeModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" @click="closeModal('profile')">&times;</button>
                    <div>
                        <div class="file-upload-form">
                            <b>Selecte your profile image:</b>
                            <input type="file" @change="previewImage" accept="image/*" id="profileImageInput">
                        </div>
                        <div class="image-preview" v-if="imageData.length > 0">
                            <div><b>Preview:</b></div>
                            <div class="text-center">
                                <img :src="imageData" style="max-width: 100%" id="id_profile_preview">
                            </div>
                        </div>
                    </div>
                    <br>
                    {% verbatim %}
                    <div class="progress" v-if="imageUploadProgress > 0">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width : imageUploadProgress+'%'}">
                             {{ imageUploadProgress }} % complete
                        </div>
                    </div>
                    {% endverbatim %}

                </div>
                <div class="modal-footer" v-if="!imageUpdated">
                    <button type="button" class="btn btn-info" @click="uploadProfileImg">Update</button>
                </div>
                <div class="modal-footer" v-else>
                    <button type="button" class="btn btn-success" @click="closeModal('profile')">Done</button>
                </div>
            </div>
        </div>
</div>

<div id="coverImageChangeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" @click="closeModal('cover')">&times;</button>
                    <div>
                        <div class="file-upload-form">
                            <b>Select your cover image:</b>
                            <input type="file" @change="previewImageCover" accept="image/*" id="coverImageInput">
                        </div>
                        <div class="image-preview" v-if="coverimageData.length > 0">
                            <div><b>Preview:</b></div>
                            <div class="text-center">
                                <img :src="coverimageData" width="100%" style="border-radius: 0px;" id="id_cover_preview">
                            </div>
                        </div>
                    </div>
                    <br>
                    {% verbatim %}
                    <div class="progress" v-if="profileImageUploadProgress > 0">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width : profileImageUploadProgress+'%'}">
                             {{ profileImageUploadProgress }} % complete
                        </div>
                    </div>
                    {% endverbatim %}

                </div>
                <div class="modal-footer" v-if="!imageUpdated">
                    <button type="button" class="btn btn-info" @click="uploadCoverImg">Update</button>
                </div>
                <div class="modal-footer" v-else>
                    <button type="button" class="btn btn-success" @click="closeModal('cover')">Done</button>
                </div>
            </div>
        </div>
</div>