{% extends "postman/base_folder.html" %}
{% load i18n %}
{% block pm_folder_title %}{% trans "Received Messages" %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_recipient_header %}{% endblock %}
{% block pm_date %}{% trans "Received" %}{% endblock %}
{% block pm_recipient_cell %}{% endblock %}

{% block messagesTab %}

    <div class="table-responsive">
        <table class="table">
            {% for message in pm_messages %}
                <tr class="{% if message.is_new == False %} read {% endif %}">
                    <td class="action"><input type="checkbox"/></td>
                    <td class="name"><a href="#">{{ message.sender.first_name }} {{ message.sender.last_name }}</a></td>
                    <td class="subject"><a href="
                            {% if message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}">{{ message.subject }}</a>
                    </td>
                    <td class="time">{{ message.sent_at }}</td>
                </tr>
            {% endfor %}
            <tbody>

            </tbody>
        </table>
    </div>

{% endblock messagesTab %}
