{% extends "postman/base_folder.html" %}
{% block messagesTab %}
    {% for message in pm_messages %}
        {% if forloop.first %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-7">
                            <h3>{{ message.subject }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row"
             style="{% if forloop.last %}{% else %} border-bottom: 0.1px solid #7b747440;{% endif %} margin-top: 10px">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{{ message.sender.profile.image.url }}"
                             style="border-radius: 50%; width: 50px; height: 50px"/>
                    </div>
                    <div class="col-sm-9">
                        <div class="pull-left"
                             style="font-weight: bold; font-size: 16px">{{ message.sender.first_name }} {{ message.sender.last_name }}</div>
                        <br>
                        <div class="pull-left">
                            to {{ message.recipient.first_name }} {{ message.recipient.last_name }}</div>
                        <br>
                        <div style="padding-top: 10px">
                            <p style="font-size: 15px; color: black">
                                {{ message.body|linebreaksbr }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <span class="time">{{ message.sent_at }}</span>
            </div>
        </div>
    {% endfor %}


    {% if reply_to_pk %}
        <hr/>

        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-1">
                        <img src="{{ request.user.profile.image.url }}" style="width: 50px; height: 50px; border-radius: 50%"/>
                    </div>
                    <div class="col-sm-9">
                        <form action="{% url 'postman:reply' reply_to_pk %}"
                              method="post">{% csrf_token %}
                            <div id="pm_reply">
                                <textarea name="body" cols="40" rows="7" id="id_body"></textarea>
                            </div>
                            <button type="submit"
                                    class="pm_btn pm_btn-reply">Reply
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block action_button %}
{% endblock action_button %}