{% extends "cibling_web/base_temp.html" %}
{#{% extends "base.html" %}#}
{% load static %}
{% load i18n %}
{% block head %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'django_private_chat/css/flex-chat.css' %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>


{% endblock head %}

{% block dialog_content %}
    <input type="hidden" id="requestSessionId" value="{{ request.session.session_key }}">
    <input type="hidden" id="opponentUserName" value="{{ active_dialog.opponent.username }}">
<div class="wrapper" id="chat-app">
    <div class="chatcontent">
        <div class="left">
            <div class="top">
                <input type="text" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">
                {% for dialog in object_list %}
                    {% if dialog.opponent.username == active_dialog.opponent.username %}
                    <li class="person active">
                        <img src="{{ dialog.opponent.profile.image.url }}">
                        <span class="name">{{ dialog.opponent.username }}</span>
                        <span class="time">{{ dialog.messages.last.get_formatted_create_datetime }}</span>
                        <span class="preview">{{ dialog.messages.last.text }}</span>
                    </li>
                    {% else %}
                        <li class="person">
                        <img src="{{ dialog.opponent.profile.image.url }}">
                        <span class="name">{{ dialog.opponent.username }}</span>
                        <span class="time">{{ dialog.messages.last.get_formatted_create_datetime }}</span>
                        <span class="preview">{{ dialog.messages.last.text }}</span>
                    </li>
                    {% endif %}
                {% endfor %}
                <li class="person" data-chat="person1">
                    <img src="https://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
                    <span class="name">Thomas Bangalter</span>
                    <span class="time">2:09 PM</span>
                    <span class="preview">I was wondering...</span>
                </li>
                <li class="person" data-chat="person2">
                    <img src="https://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
                    <span class="name">Dog Woofson</span>
                    <span class="time">1:44 PM</span>
                    <span class="preview">I've forgotten how it felt before</span>
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="top"><span>To: <span class="name">{{ active_dialog.opponent.username }}</span></span></div>
            <div class="chat" data-chat="activeChat" id="activeChat" v-chat-scroll>
                {% for msg in active_dialog.messages.all %}
                    {% if msg.sender == request.user %}
                        <div class="bubble me">
                            {{ msg.text }}
                        </div>
                     {% else %}
                        <div class="bubble you">
                            {{ msg.text }}
                        </div>
                    {% endif %}
                {% endfor %}

                {% verbatim %}
                    <div v-for="message in messages" class="bubble" :class="[ message.sender_name == getOpponentUserName() ? 'you' : 'me' ]">
                       {{ message.message }}
                    </div>
                {% endverbatim %}


            </div>


            <div class="write">

                <input type="text" id="newMessageTextBox" v-on:keyup.enter="sendMessage"/>

            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">

    $('.chat[data-chat=activeChat]').addClass('active-chat');

$('.left .person').mousedown(function(){
    if ($(this).hasClass('.active')) {
        return false;
    } else {
        var findChat = $(this).attr('data-chat');
        var personName = $(this).find('.name').text();
        $('.right .top .name').html(personName);
        $('.chat').removeClass('active-chat');
        $('.left .person').removeClass('active');
        $(this).addClass('active');
        $('.chat[data-chat = '+findChat+']').addClass('active-chat');
    }
    $('.active-chat').scrollTop($('.active-chat')[0].scrollHeight);
});

    </script>

{% endblock dialog_content %}

{% block extra_js %}

<script src="{% static 'django_private_chat/js/chat-app.js' %}"></script>

{% endblock extra_js %}