{% extends "cibling_web/base_temp.html" %}
{#{% extends "base.html" %}#}
{% load static %}
{% load i18n %}
{% block head %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="{% static 'django_private_chat/css/flex-chat.css' %}">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll/dist/vue-chat-scroll.min.js"></script>


{% endblock head %}

{% block dialog_content %}
    <input type="hidden" id="requestSessionId" value="{{ request.session.session_key }}">
    <input type="hidden" id="opponentUserName" value="{{ opponent_username }}">
    <input type="hidden" id="requestUserId" value="{{ request.user.id }}">
    <input type="hidden" id="activeDialogId" value="{{ active_dialog.id }}">
    <input type="hidden" id="requestUserName" value="{{ request.user.username }}">

<div class="wrapper" id="chat-app">
    <div class="chatcontent">
        <div class="left">
            <div class="top">
                <input type="text" />
                <a href="javascript:;" class="search"></a>
            </div>
            <ul class="people">

                {% verbatim %}
                    <li v-for="dialog in dialogs"
                        class="person"
                        :class="[ dialog.id == getActiveDialogId() ? 'active' : '' ]"
                        v-on:click="openDetails(dialog)"
                    >
                        <img :src="getIconForDialog(dialog)">
                        <span class="name">{{ getNameForDialog(dialog) }}</span>
                        <!--span class="time">{{ dialog.last_message_time }}</span-->
                        <span class="preview">{{ dialog.last_message }}</span>
                    </li>
                {% endverbatim %}
            </ul>
        </div>
        <div class="right">
        {% if active_dialog.owner == request.user %}
            <div class="top"><span>To: <span class="name">{{ active_dialog.opponent.username }}</span></span></div>
        {% else %}
            <div class="top"><span>To: <span class="name">{{ active_dialog.owner.username }}</span></span></div>
        {% endif %}
            <div class="chat" data-chat="activeChat" id="activeChat" v-chat-scroll>
                {% for msg in active_dialog.messages.all %}
                    {% if msg.sender == request.user %}
                        <div class="bubble me">
                            {{ msg.text }}
                        </div>
                     {% else %}
                        <div class="bubble you">
                            {{ msg.text }}
                        </div>
                    {% endif %}
                {% endfor %}

                {% verbatim %}
                    <div v-for="message in messages" class="bubble" :class="[ message.sender_name == getOpponentUserName() ? 'you' : 'me' ]">
                       {{ message.message }}
                    </div>
                {% endverbatim %}


            </div>


            <div class="write">
                <textarea type="text" id="newMessageTextBox" v-on:keyup.enter="sendMessage" ></textarea>
            </div>

            <div class="send-button" v-on:click="sendMessage">
                <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
            </div>

        </div>
    </div>
</div>

    <script type="text/javascript">

    $('.chat[data-chat=activeChat]').addClass('active-chat');

$('.left .person').mousedown(function(){
    if ($(this).hasClass('.active')) {
        return false;
    } else {
        var findChat = $(this).attr('data-chat');
        var personName = $(this).find('.name').text();
        $('.right .top .name').html(personName);
        $('.chat').removeClass('active-chat');
        $('.left .person').removeClass('active');
        $(this).addClass('active');
        $('.chat[data-chat = '+findChat+']').addClass('active-chat');
    }
    $('.active-chat').scrollTop($('.active-chat')[0].scrollHeight);
});

    </script>

{% endblock dialog_content %}

{% block extra_js %}

<script src="{% static 'django_private_chat/js/chat-app.js' %}"></script>

{% endblock extra_js %}