{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook like chat popup layout</title>
    <link href="{% static 'django_private_chat/css/sidebar-chat.css' %}" rel="stylesheet">
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
</head>

<body>
<div style="position:fixed;left:10px;width:200px;background-color:#7ec0ee;padding:10px;text-align:center;color:white;font-weight:bold;">
    <a href="http://www.skptricks.com/2018/03/facebook-style-chat-application-with-jquery-and-css.html"> Download
        Now </a></div>



<div id="chat-sidebar">
    <input type="hidden" id="requestUserId" value="{{ request.user.id }}">


{#    <div id="sidebar-user-box" class="100">#}
{#        <img src="user.png"/>#}
{#        <span id="slider-username">Sumit Kumar Pradhan </span>#}
{#    </div>#}
    {% verbatim %}
    <div id="sidebar-user-box" class="100" v-for="dialog in dialogs">
        <img :src="getIconForDialog(dialog)" height="30px" width="30px"/>
        <span id="slider-username">{{ getNameForDialog(dialog) }}</span>
    </div>
    {% endverbatim %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "django_private_chat/js/sidebar-chat.js" %}"></script>

</body>
</html>
