
{% extends "cibling_web/base_temp.html" %}
{% load crispy_forms_tags %}
{% block head %}
    <style>
        .invalid-feedback {
            color: indianred;
        }
    </style>
{% endblock %}

{% block newsfeed-content %}
    <div id="page-contents">
    	<div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="logout-page">
                  {% if valid %}
                      Recovery instructions has been delivered to <b>{{ email }}</b>.

                      <div>
                        <a href="{% url 'login' %}">Login Here</a>
                      </div>
                   {% else %}
                      <form method="POST" >
                      {% csrf_token %}
                      {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">
                                Recover
                            </button>
                        </div>
                  </form>
                  {% endif %}


              </div>
            </div>
        </div>
        </div>
      </div>
    </div>
{% endblock newsfeed-content %}
{% block footer %}
{% endblock footer %}