{% extends "cibling_web/base_temp.html" %}

{% block sidebar_left %}
{% endblock sidebar_left %}

{% block sidebar_right %}
{% endblock sidebar_right %}


{% block page_content %}
    <div id="page-contents">
    	<div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="logout-page">
                <h2>You have been logged out</h2>
                <a href="{% url 'login' %}">Login Again</a>
              </div>
            </div>
				</div>
				</div>
      </div>
    </div>
{% endblock page_content %}
{% block footer %}
{% endblock footer %}