{% extends "cibling_web/base_temp.html" %}

{% block sidebar_left %}
{% endblock sidebar_left %}

{% block sidebar_right %}
{% endblock sidebar_right %}


{% load crispy_forms_tags %}
{% block page_content %}
    <div id="page-contents">
    	<div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="passwordchange-page">
                  <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit">Save changes</button>
                  </form>
              </div>
            </div>
				</div>
				</div>
      </div>
    </div>

{% endblock page_content %}