{% extends "cibling_web/base2.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css"/>

{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.11.2/dist/style.css">#}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.2.0/dist/style.css">



    <style>
        .invalid-feedback {
            color: indianred;
        }

        .tags-input-wrapper-default{
              border: 0px solid transparent; !important;
        }

        .tags-input-wrapper-default.active{
              border: 0px solid transparent; !important;
              box-shadow: 0 0 0 0.2em white; !important;
        }
    </style>
{% endblock %}

{% block body-content %}
    <div id="lp-register">
    <div class="container wrapper">
    <div class="row">
    <div class="col-sm-5">
        <div class="intro-texts">
            <h1 class="text-white">Cibling</h1>
            <p>Worldwide Kinship<br/> <br/></p>
            <a class="btn btn-primary" href="{% url 'about' %}">Learn More</a>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

            <!-- Register/Login Tabs-->
            <div class="reg-options">
                <ul class="nav nav-tabs">
                    <li><a href="#login" data-toggle="tab">Login</a></li>
                    <li><a href="#register" data-toggle="tab">Register</a></li>
                </ul><!--Tabs End-->
            </div>

            <!--Registration Form Contents-->
            <div class="tab-content">

                <div
                        {% if reg_error %}
                            class="tab-pane"
                        {% else %}
                            class="tab-pane active"
                        {% endif %}
                            id="login">


                    <form name="login_form" id="login_form" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Log In</legend>
                            {{ login_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit" name="submit" value="login">
                                Login
                            </button>
                        </div>
                        <a class="small" href="{% url 'forgot-password' %}">Forgot Password?</a>
                    </form>
                </div><!--Registration Form Contents Ends-->

                <!--Login-->
                <div
                        {% if reg_error %}
                            class="tab-pane active"
                        {% else %}
                            class="tab-pane"
                        {% endif %}
                            id="register">
                    <div id="app">

                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Join Today</legend>

                                {% for field in reg_form %}

                                    {{ field|as_crispy_field }}


                                    {% if field.name == "interest" or field.name == "expertise" %}
                                        <div>
                                            {% for error in field.errors %}
                                                <p class="invalid-feedback">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}


                                {% endfor %}


{#                                <div id="div_id_offer" class="form-group">#}
{##}
{#                                    <label for="id_offer" class="col-form-label  requiredField">#}
{#                                        Offer<span class="asteriskField">*</span>#}
{#                                    </label>#}
{##}
{##}
{#                                    <div class="">#}
{#                                        <select name="offer" class="selectmultiple form-control selectpicker" required id="id_offer"#}
{#                                                multiple>#}
{#                                            <option value="1">Housing</option>#}
{##}
{#                                            <option value="2">Campus Tour</option>#}
{##}
{#                                            <option value="3">Books</option>#}
{##}
{#                                        </select>#}
{##}
{##}
{#                                    </div>#}
{##}
{##}
{#                                </div>#}


                            </fieldset>


                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit" name="submit" value="register">Sign
                                    Up
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">

                    <!--Social Icons-->
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock body-content %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js"></script>
    {#    <script type="text/javascript" src="{% static 'custom/js/register.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@1.8.0/dist/voerro-vue-tagsinput.js"></script>#}

    <script src="https://cdn.jsdelivr.net/npm/@voerro/vue-tagsinput@2.2.0/dist/voerro-vue-tagsinput.js"></script>




    <script type="text/javascript" src="{% static 'custom/js/register-app.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/js/register.js' %}"></script>
{% endblock %}

