{% extends "cibling_web/base_temp.html" %}
{% block newsfeed-content %}
    <div id="page-contents">
    	<div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="logout-page">
                <h2>Your Cibling registration is successful. Thank you!</h2>
                <a href="{% url 'login' %}">You can Login here</a>
              </div>
            </div>
				</div>
				</div>
      </div>
    </div>
{% endblock newsfeed-content %}
{% block footer %}
{% endblock footer %}