{% extends "cibling_web/base_temp.html" %}

{% block sidebar_left %}
{% endblock sidebar_left %}

{% block sidebar_right %}
{% endblock sidebar_right %}


{% block page_content %}
    <div id="page-contents">
    	<div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="404-page">
                <h1>404</h1>
                <p>OOPS, THE PAGE YOU ARE LOOKING FOR CAN'T BE FOUND!</p>
                <a href="{% url 'newsfeed' %}"><span class="arrow"></span>Go to Home</a>
              </div>
            </div>
				</div>
				</div>
      </div>
    </div>
{% endblock page_content %}
{% block footer %}
{% endblock footer %}