
.gridbase{
    margin: 5px !important;
    border: black solid 1px;
}
.photo50{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo51{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo52{
    width: 230px !important;
    height: 150px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo53{
    width: 230px !important;
    height: 150px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo54{
    width: 230px !important;
    height: 150px !important;
    background-position: center !important;
    background-size: cover!important;
}


.photo40{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo41{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo42{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo43{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}

.photo30{
    width: 470px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}

.photo31{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}
.photo32{
    width: 230px !important;
    height: 225px !important;
    background-position: center !important;
    background-size: cover!important;
}




