
<div style="display: flex; flex-direction: row">
    <div>
        {% with image0=post.postPhotos.all.0 %}

            <a href="{{ image0.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
                <div style="background:url({{ image0.image.url }});" class="photo50 gridbase"></div>
            </a>
        {% endwith %}

        {% with image1=post.postPhotos.all.1 %}
            <a href="{{ image1.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
            <div style="background:url({{ image1.image.url }});" class="photo51 gridbase"></div>
            </a>
        {% endwith %}


    </div>
    <div>
        {% with image2=post.postPhotos.all.2 %}
            <a href="{{ image2.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
            <div style="background:url({{ image2.image.url }});" class="photo52 gridbase"></div>
            </a>
        {% endwith %}

        {% with image3=post.postPhotos.all.3 %}
            <a href="{{ image3.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
            <div style="background:url({{ image3.image.url }});" class="photo53 gridbase"></div>
            </a>
        {% endwith %}

        {% with image4=post.postPhotos.all.4 %}
            <a href="{{ image4.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
            <div style="background:url({{ image4.image.url }});" class="photo54 gridbase"></div>
            </a>
        {% endwith %}

    </div>
</div>