{% if post.postPhotos.count == 5 %}
    {% include "cibling_web/fragment/multiphoto/five_images.html" %}
{% endif %}
{% if post.postPhotos.count == 4 %}
    {% include "cibling_web/fragment/multiphoto/four_images.html" %}
{% endif %}
{% if post.postPhotos.count == 3 %}
    {% include "cibling_web/fragment/multiphoto/three_images.html" %}
{% endif %}
{% if post.postPhotos.count == 2 %}
    {% include "cibling_web/fragment/multiphoto/two_images.html" %}
{% endif %}
{% if post.postPhotos.count == 1 %}
    {% include "cibling_web/fragment/multiphoto/one_image.html" %}
{% endif %}