<div style="display: flex; flex-direction: row">
    <div>
        {% with image0=post.postPhotos.all.0 %}
            <a href="{{ image0.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
                <div style="background:url({{ image0.image.url }});" class="photo20 gridbase"></div>
            </a>
        {% endwith %}
    </div>
    <div>

        {% with image1=post.postPhotos.all.1 %}
            <a href="{{ image1.image.url }}" class="lsb-preview" data-lsb-group="group{{ post.id }}">
                <div style="background:url({{ image1.image.url }});" class="photo21 gridbase"></div>
            </a>
        {% endwith %}

    </div>
</div>