{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network html5 template available in themeforest......" />
		<meta name="keywords" content="Social Network, Social Media, Make ciblings, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Cibling | About</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/ionicons.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
    <link href="css/emoji.css" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>
	</head>
  <body>

    <header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'newsfeed' %}">
                <div class="title-logo">
                    CIBLINGS
                </div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown">
                <a href="{% url 'newsfeed' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
              </li>
               <!--
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Asks <span><img src="{% static "images/down-arrow.png" %}" alt=""/></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="#">Host</a></li>
                  <li><a href="#">Recommendations</a></li>
                  <li><a href="#">Offers</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>
              </li>
              -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Store</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find Ciblings <span><img src="{% static "images/down-arrow.png" %}" alt=""/></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="{% url 'find-ciblings' 0010 %}">By Country</a></li>
                  <li><a href="{% url 'find-ciblings' 1000 %}">By University</a></li>
                  <li><a href="{% url 'find-ciblings' 0100 %}">By Subjects</a></li>
                  <li><a href="{% url 'find-ciblings' 0001 %}">By Expertise</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="{% static "images/down-arrow.png" %}" alt="" /></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="{% url 'cibling-requests' %}">Cibling Requests</a></li>
                  <li><a href="{% url 'profileinfo-edit' %}">Edit: Basic Info</a></li>
                  <li><a href="{% url 'profile-edit' %}">Account Settings</a></li>
                  <li><a href="#">Change Password</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search ciblings, photos, videos">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
      </nav>
    </header>

    <div id="page-contents" style="position: relative;">
          <div class="row">
            <div class="col-md-1"></div>
              <div class="col-md-9">
                  <div class="about-profile">
                    <div class="about-content-block">
                      <h3>What is Cibling?</h3>

<p>
Cibling, an acronym for Campus Sibling is a worldwide network to promote sibling-like warm-hearted interaction and collaboration among students and academics around the world. Cibling aims to create an easy-going but dependable relationship among its members with a commitment of mutual advantage and comfort.
</br>

Members within this network will consider each others as campus siblings rather than just superficial ‘friend’
</p>
                    </div>
                  </div>

                  <div class="about-profile">
                    <div class="about-content-block">
                      <h4>Advantage over other existing networks</h4>
<p>
Existing social networks create loose connections among the members. In most of the cases, the friendship within these networks is very superficial and that is why when someone needs any real help, the response is rather sparse and limited to only expression of words. Increasing number of social media users are growing repulsion towards such empty expressions. Cibling is a real refreshing change in this regard. It implies more deeper connections and promises a more meaningful interaction among its member
    </br>
Cibling by definition will remove the uneasiness of romantic advancement within the close network of a user.  Students and academics will be able to fend off any such advancements within the framework of Cibling whenever they have to. This is an added benefit over any existing social network and promises a more open and comfortable interactions among people around the world.
</br>
    The users can build their connections based on mutual understanding and matched interests in academic and non-academic matters.
</p>
                    </div>
                  </div>

                  <div class="about-profile">
                    <div class="about-content-block">
                      <h4>

How will Cibling work</h4>
When an user will create a profile in Cibling, they will be able to find and invite other users to be their campus siblings. Once the other user accepts the invitation they become each others Campus Siblings (Ciblings). To create a Cibling profile, one will require an academic email or sufficient prof of studentship/academic attachment.  A Cibling may  (but not bound to) offer-
                    </br>
                        academic help, career guideline, knowledge exchange, campus exchange, hosting/travel help in each other’s campus/country.  Cibling will also allow exchange of educational/research resources between users. Thus Cibling promises to serve the purposes of-
                    <br>



<ul>
<li>Couch surfing</li>
<li>Ebay</li>
<li>LinkedIn</li>
<li>Facebook</li>
</ul>
in one place.
                    </div>
                  </div>

                  <div class="about-profile">
                    <div class="about-content-block">
                      <h4>
                          How to create a profile
                      </h4>
                        You can create a profile on Cibling by filling a registration form.  Make a profile today and bring the world a bit closer.
                    </br>
                    </div>
                  </div>

                  <div class="about-profile">
                    <div class="about-content-block">
                      <a class="btn btn-info" href="{% url 'register' %}">Go Back</a>
                    </div>
                  </div>
              </div>

          </div>
        </div>
      </div>



    <!--
    <h1>What is Cibling?</h1>
    <p>Campus sibling aka C-ibling/ Cibling is a worldwide network among students to promote meaningful interaction and collaborations with the easiness of sibling-like relationship. The purpose of the network is to create a comfortable relationship among students around the world where they will engage and commit for each other without the uneasiness of a random friendship on facebook or other social network. </p>
    <p>The members will declare each other as siblings and this will remove the fear of unwanted (romantic) interested when the network users are trying to help each other.</p>
    <h2>Advantage over other existing networks</h2>
    <p>Facebook, the largest social network creates a very superficial and general friendship. Most of the time it is just for sharing feelings and ideas online. But when you need one of them for your real need, the response is rather limited. Facebook friendship has limited impact on connecting people in real world and making the connection something useful for them.</p>
    <p>lso facebook friendship always comes with the fear and uneasiness of romantic interest.</p>
    <p>Cibling by definition will declare that a user has only the relationship of brother/sister with other users. So there is no chance of thinking something else (romantic or sexual interest) when someone is trying to make Cibling connection with others. Also the users can decide the connections based on mutual understanding, matches, interests in academic matters etc. </p>
    <p>Ciblings will be more intimate and meaningful network among students compared to any existing network.</p>
    <h3>Ciblings can easily serve the purposes of-</h3>
    <h3>    Couch surfing</h3>
    <h3>    Ebay</h3>
    <h3>    LinkedIN</h3>
    <h3>    Facebook</h3>
    <h3>in a more focused and purposeful way.</h3>
    -->

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href="#"><img src="{% static "images/logo-black.png" %}" alt="" class="footer-logo" /></a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>About</h5>
              <ul class="footer-links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
             <div class="col-md-3 col-sm-3">
              <h5>Other Links</h5>
              <ul class="footer-links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>Contact Us</h5>
              <ul class="contact">
                <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
              </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>CIBLINGS Team © 2019. All rights reserved</p>
      </div>
		</footer>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&amp;callback=initMap"></script>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.sticky-kit.min.js" %}"></script>
    <script src="{% static "js/jquery.scrollbar.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>