{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="A Deeper network among students and academics around the world." />
		<meta name="keywords" content="Cibling, Brotherhood, Academics, Student" />
		<meta name="robots" content="index, follow" />
		{% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Cibling</title>
        {% endif %}

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/ionicons.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
    <link href="css/emoji.css" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/fav.png"/>

	</head>
  <body>

    <!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'newsfeed' %}">
                <div class="title-logo">
                    CIBLINGS
                </div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown">
                <a href="{% url 'newsfeed' %}">Home</a>
              </li>
               <!--
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Asks <span><img src="{% static "images/down-arrow.png" %}" alt=""/></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="#">Host</a></li>
                  <li><a href="#">Recommendations</a></li>
                  <li><a href="#">Offers</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>
              </li>
              -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Store</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Find Ciblings <span><img src="{% static "images/down-arrow.png" %}" alt=""/></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="{% url 'find-ciblings' 0010 %}">By Country</a></li>
                  <li><a href="{% url 'find-ciblings' 1000 %}">By University</a></li>
                  <li><a href="{% url 'find-ciblings' 0100 %}">By Subjects</a></li>
                  <li><a href="{% url 'find-ciblings' 0001 %}">By Expertise</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Timeline <span><img src="{% static "images/down-arrow.png" %}" alt="" /></span></a>
                <ul class="dropdown-menu login">
                  <li><a href="{% url 'cibling-requests' %}">Cibling Requests</a></li>
                  <li><a href="{% url 'profileinfo-edit' %}">Edit: Basic Info</a></li>
                  <li><a href="{% url 'profile-edit' %}">Account Settings</a></li>
                  <li><a href="#">Change Password</a></li>
                  <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm" method="get" action="{% url 'search-result' %}">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" name="q" class="form-control" placeholder="Search ciblings, photos, videos">
              </div>
            </form>

          </div><!-- /.navbar-collapse -->

        </div><!-- /.container -->
      </nav>
    </header>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!--Header End-->
        <div class="container">

          <!-- Timeline
          ================================================= -->
          <div class="timeline">
            <div class="timeline-cover" style="background: url({{ user.profile.cover_image.url }}) no-repeat; background-position: center; background-size: cover; min-height: 360px; border-radius: 0 0 4px 4px; position: relative">



              <!--Timeline Menu for Large Screens-->
              <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                  <div class="col-md-3">
                    <div class="profile-info">
                      <img src="{{ user.profile.image.url }}" alt="" class="img-responsive profile-photo">
                      <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                      <p class="text-muted">{{ user.profile.profileinfo.subject }} from {{ user.profile.institute.institute }}</p>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <ul class="list-inline profile-menu">
                      <li><a href="{% url 'timeline-profile' user.id %}" class="active">Timeline</a></li>
                      <li><a href="{% url 'timeline-profile-about' user.id %}">About</a></li>
                      <li><a href="{% url 'timeline-album' user.id %}">Album</a></li>
                      <li><a href="{% url 'timeline-ciblings' user.id %}">Ciblings</a></li>
                    </ul>
                    <ul class="follow-me list-inline">
                      <!--<li><button class="btn-primary">Add Cibling</button></li>-->
                        {% if cibling_status == -1 %}
                            <a class="btn btn-info" href="{% url 'add-cibling' pk %}">Add Cibling</a>
                        {% elif cibling_status == 0 %}
                            <a class="btn btn-info" href="#">Request Sent</a>
                        {% elif cibling_status == 1 %}
                            <a class="btn btn-info" href="#">Your Cibling</a>
                        {% endif %}

                    </ul>
                  </div>
                </div>
              </div><!--Timeline Menu for Large Screens End-->

              <!--Timeline Menu for Small Screens-->
              <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                  <img src="{{ user.profile.image.url }}" alt="" class="img-responsive profile-photo">
                  <h4>{{ user }}</h4>
                  <p class="text-muted">{{ user.profile.profileinfo.subject }} from {{ user.profile.institute.institute }}</p>
                </div>
                <div class="mobile-menu">
                  <ul class="list-inline">
                    <li><a href="{% url 'timeline-profile' user.id %}" class="active">Timeline</a></li>
                    <li><a href="{% url 'timeline-profile-about' user.id %}">About</a></li>
                    <li><a href="{% url 'timeline-album' user.id %}">Album</a></li>
                    <li><a href="{% url 'timeline-ciblings' user.id %}">Ciblings</a></li>
                  </ul>
                  <a class="btn btn-info" href="{% url 'add-cibling' pk %}">Add Cibling</a>
                </div>
              </div><!--Timeline Menu for Small Screens End-->

            </div>
            {% block timeline-display-content %}

            <div id="page-contents" style="position: relative;">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                  <!-- Post Create Box
                ================================================= -->
                <div class="create-post">
                    <div class="row">
                      <div class="form-group">
                        <textarea name="texts" id="" rows="4" cols="100" class="" placeholder="Write what you wish"></textarea>
                      </div>

                    </div>

                    <div class="row">
                      <div class="tools">
                        <ul class="publishing-tools list-inline">
                          <li><a href="#"><i class="ion-compose"></i></a></li>
                          <li><a href="#"><i class="ion-images"></i></a></li>
                          <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                        </ul>
                        <button class="btn btn-primary pull-right">Publish</button>
                      </div>

                    </div>
                </div><!-- Post Create Box End-->

                  <!-- Post Content
                  ================================================= -->
                  <div class="post-content">

                    <!--Post Date-->
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>Sarah</h5>
                      <p class="text-grey">Sometimes ago</p>
                    </div><!--Post Date End-->

                    <img src="images/post-images/12.jpg" alt="post-image" class="img-responsive post-image">
                    <div class="post-container">
                      <img src="images/users/user-1.jpg" alt="user" class="profile-photo-md pull-left">
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="timeline.html" class="profile-link">Sarah Cruiz</a> </h5>
                          <p class="text-muted">Published a photo about 15 mins ago</p>
                        </div>

                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-comment">
                          <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-4.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">
                          <input type="text" class="form-control" placeholder="Post a comment">
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Post Content
                  ================================================= -->
                  <div class="post-content">

                    <!--Post Date-->
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>Sarah</h5>
                      <p class="text-grey">10/22/2016</p>
                    </div><!--Post Date End-->

                    <img src="images/post-images/13.jpg" alt="post-image" class="img-responsive post-image">
                    <div class="post-container">
                      <img src="images/users/user-1.jpg" alt="user" class="profile-photo-md pull-left">
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="timeline.html" class="profile-link">Sarah Cruiz</a> </h5>
                          <p class="text-muted">Yesterday</p>
                        </div>

                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-comment">
                          <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-4.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">
                          <input type="text" class="form-control" placeholder="Post a comment">
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Post Content
                  ================================================= -->
                  <div class="post-content">

                    <!--Post Date-->
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>Sarah</h5>
                      <p class="text-grey">10/21/2016</p>
                    </div><!--Post Date End-->

                    <div class="post-container">
                      <img src="images/users/user-1.jpg" alt="user" class="profile-photo-md pull-left">
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="timeline.html" class="profile-link">Sarah Cruiz</a> </h5>
                          <p class="text-muted">2 days ago</p>
                        </div>

                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-comment">
                          <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-4.jpg" alt="" class="profile-photo-sm">
                          <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                        </div>
                        <div class="post-comment">
                          <img src="images/users/user-1.jpg" alt="" class="profile-photo-sm">
                          <input type="text" class="form-control" placeholder="Post a comment">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-2 static">
                  <div id="sticky-sidebar" class="" style="">
                    <h4 class="grey">Cibling's activity</h4>
                    {% if activities %}
                        {% for activity in activities %}
                            <div class="feed-item">
                              <div class="live-activity">
                                  <p><a href="{% url 'timeline-profile' activity.actor.id %}" class="profile-link">{{ activity.actor.firstname }} {{ activity.actor.lastname }}</a> added a new <a href="{% url 'post-detail-view' activity.post.id %}" class="profile-link">{{ activity.type }}</a></p>
                                <p class="text-muted">{{ activity.time_posted }}</p>
                              </div>
                            </div>
                        {% endfor %}
                      {% endif %}
                    <div class="feed-item">
                      <div class="live-activity">
                        <p><a href="#" class="profile-link">Johnny</a> Asked for Host</p>
                        <p class="text-muted">5 mins ago</p>
                      </div>
                    </div>
                    <div class="feed-item">
                      <div class="live-activity">
                        <p><a href="#" class="profile-link">Shihan</a> Has posted a photo</p>
                        <p class="text-muted">an hour ago</p>
                      </div>
                    </div>
                    <div class="feed-item">
                      <div class="live-activity">
                        <p><a href="#" class="profile-link">Kim</a> Offerd a Books</p>
                        <p class="text-muted">4 hours ago</p>
                      </div>
                    </div>
                    <div class="feed-item">
                      <div class="live-activity">
                        <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                        <p class="text-muted">a day ago</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endblock timeline-display-content %}

          </div>
        </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href="#"><img src="{% static "images/logo-black.png" %}" alt="" class="footer-logo"></a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>


              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">

              <ul class="footer-links">
                <li><a href="{% url 'about' %}">About us</a></li>
                <li><a href="#">Contact us</a></li>



              </ul>
            </div>
             <div class="col-md-3 col-sm-3">

              <ul class="footer-links">


                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>

              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h5>Contact Us</h5>
              <ul class="contact">
                <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                <li><i class="icon ion-ios-email-outline"></i>info@cibling.ac</li>
                <li><i class="icon ion-ios-location-outline"></i>Bangladesh</li>
              </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>CIBLINGS Team © 2019. All rights reserved</p>
      </div>
		</footer>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&amp;callback=initMap"></script>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.sticky-kit.min.js" %}"></script>
    <script src="{% static "js/jquery.scrollbar.min.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>