{% extends 'cibling_web/base_temp.html' %}

{% block sidebar_right %}

{% endblock sidebar_right %}

{% block sidebar_left %}
{% endblock sidebar_left %}
{% block page_content %}
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Country*</label>
                <select class="form-control selectpicker" data-live-search="true">
                  <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                  <option data-tokens="mustard">Burger, Shake and a Smile</option>
                  <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                </select>
                <small class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Institute*</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Subject*</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted"></small>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Expertise*</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted"></small>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block head %}

{% endblock head %}