{% extends 'cibling_web/base_temp.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block head %}
    <script src="{% static "js/moment-with-locales.js" %}"></script>
    <script src="{% static 'js/urlize.js' %}"></script>
    <script src="{% static 'js/urlize_tlds.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/lsb.css' %}"/>

    <link rel="stylesheet" href="{% static "css/photoGrid.css" %}"/>



    <script>

        function initLightBox() {
            $.fn.lightspeedBox();
        }

        window.onload = initLightBox;

    </script>






{% endblock %}

{% block page_content %}
    <div class="col-md-7">


        {% include "cibling_web/fragment/new_post.html" %}

        <!-- Post Content
        ================================================= -->

        <!--TODO: Following will be paginated-->
        {% verbatim %}
        <div id="all-posts">
            <div v-for="(post, index) in posts" class="post-content">
                <div class="post-container">
                    <a :href="post.author.profile_url"><img :src="post.author.profile_image" alt="user"
                                                            class="profile-photo-md pull-left"/></a>
                    <div class="post-detail">
                        <div class="user-info"
                             @click="post_detail(post.detail_url)"
                             style="cursor: pointer;">
                            <h5><a :href="post.author.profile_url"
                                   class="profile-link">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                                <span
                                        class="following"> </span></h5>
                            <p v-if="post.image" class="text-muted">Published a photo {{ post.time_posted | formatDate
                                }}</p>
                            <p v-else class="text-muted">Published a post {{ post.time_posted | formatDate }}</p>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text"
                             @click="post_detail(post.detail_url)"
                             style="cursor: pointer;">
                            <p v-html="urlize(post.content)"><i class="em em-anguished"></i> <i
                                    class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                        <div class="line-divider"></div>
                        <section :id="getPhotosSectionId(post.postPhotos)">

                            <a v-for="postPhoto in post.postPhotos" :href="postPhoto.image" class="lsb-preview" :data-lsb-group="getLsbGroup(post)">
                                <img :src="postPhoto.image" height="150px" width="150px">
                            </a>

                        </section>
                        <div class="line-divider"></div>
                        <div v-for="comment in post.comments" class="post-comment">
                            <a :href="comment.author.profile_url"><img :src="comment.author.profile_image" alt=""
                                                                       class="profile-photo-sm"/></a>
                            <p><a :href="comment.author.profile_url"
                                  class="profile-link">{{ comment.author.first_name }} {{ comment.author.last_name
                                }} </a><i
                                    class="em em-laughing"></i> <span v-html="urlize(comment.text)"></span></p>
                        </div>
                        <div class="post-comment">

                            <div class="form-row">
                                <div class="form-group col-md-1 mb-0">
                                    <img :src="user.profile_image" alt="user"
                                         class="profile-photo-sm"/>
                                </div>
                                <div class="form-group col-md-11 mb-0">
                                    <textarea name="text" cols="40" rows="2" maxlength="1000"
                                              :id="get_comment_id(post.id)"></textarea>
                                    <button class="btn btn-primary pull-right" @click="make_comment(post.id, post)">
                                        Comment
                                    </button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
                <div v-if="post.author.id == user.id" class="post-delete">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" @click="show_modal(index)"><i
                            class="fa fa-trash-o" aria-hidden="true"></i></button>

                </div>
            </div>

            <infinite-loading @infinite="infiniteHandler"></infinite-loading>


            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Are you sure?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" @click="post_delete">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {% endverbatim %}

    </div>
{% endblock page_content %}

{% block script %}

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script>

    <script src="{% static "custom/js/newsfeed.js" %}"></script>
    <script src="{% static "custom/js/new_post.js" %}"></script>

    <script src="{% static "js/lsb.min.js" %}"></script>


{% endblock %}