{% extends "cibling_web/base_temp.html" %}

{% block newsfeed-content %}
    {% load static %}
    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">\
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">




                <div class="post-content">
                    {% if post.image %}
                      {% if post.image.url != 'default.jpg' %}
                        <img src="{{ post.image.url }}" alt="post-image" class="img-responsive post-image" />
                      {% endif %}
                    {% endif %}
                  <div class="post-container">
                    <img src="{{ post.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left" />
                    <div class="post-detail">
                      <div class="user-info">
                        <h5><a href="{% url 'timeline-profile' post.author.id %}" class="profile-link">{{ post.author }}</a> <span class="following">following</span></h5>
                        <p class="text-muted">Published a photo {{ post.time_posted }}</p>
                      </div>
                      <div class="line-divider"></div>
                      <div class="post-text">
                        <p>{{ post.content }}<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                      </div>
                      <div class="line-divider"></div>
                      {% for comment in comments %}
                          {% if comment.post == post %}
                              <div class="post-comment">
                                <img src="{{ comment.author.profile.image.url }}" alt="" class="profile-photo-sm" />
                                <p><a href="{% url 'timeline-profile' comment.author.id %}" class="profile-link">{{ comment.author }}    </a><i class="em em-laughing"></i>{{ comment.text }}</p>

                              </div>
                          {% endif %}
                      {% endfor %}

                        <div class="post-comment">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-row">
                                  <div class="form-group col-md-1 mb-0">
                                    <img src="{{ user.profile.image.url }}" alt="" class="profile-photo-sm" />
                                  </div>
                                  <div class="form-group col-md-11 mb-0">
                                    {{ comment_form.text }}
                                    <button class="btn btn-primary pull-right" name="submit" value="{{ post.id }}">Comment</button>
                                  </div>
                                </div>
                            </form>
                        </div>

                    </div>
                  </div>
                </div>


              <!-- Post Content

              ================================================= -->
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock newsfeed-content %}