{% extends "cibling_web/base.html" %}

{% block timeline-content %}
    {% load static %}
    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">\
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">



            <div class="post-content">

                <!--Post Date-->
                <div class="post-date hidden-xs hidden-sm">
                  <h5>{{ object.author }}</h5>
                  <p class="text-grey">{{ object.time }}</p>
                </div><!--Post Date End-->

                <img src="{% static 'images/post-images/13.jpg' %}" alt="post-image" class="img-responsive post-image" />
                <div class="post-container">
                  <img src="{{ object.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left" />
                  <div class="post-detail">
                    <div class="user-info">
                      <h5><a href="" class="profile-link">{{ object.author }}</a> <span class="following">following</span></h5>
                      <p class="text-muted">Published a photo {{ object.time_posted }}</p>
                        {% if object.author == user %}
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'web-timeline-detail-view' object.id %}">Update</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'web-timeline-delete-view' object.id %}">Delete</a>
                        {% endif %}
                    </div>
                    <div class="reaction">
                      <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                      <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                    </div>
                    <div class="line-divider"></div>
                    <div class="post-text">
                      <p>{{ object.content }}<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                    </div>
                    <div class="line-divider"></div>
                      {% for comment in object.comments %}
                          <div class="post-comment">
                            <img src="{% static comment.authorimg %}" alt="" class="profile-photo-sm" />
                              <p><a href="timeline.html" class="profile-link">{{ comment.author }}</a><i class="em em-laughing"></i> {{ comment.content }}</p>
                          </div>
                      {% endfor %}
                        <div class="post-comment">
                  </div>
                </div>
              </div>
            </div>


              <!-- Post Content

              ================================================= -->
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock timeline-content %}