{% extends 'cibling_web/base_profile.html' %}

{% block timeline-display-content %}
    {% load static %}
    <div id="page-contents" style="position: relative;">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">

              <!-- About
              ================================================= -->
              <div class="about-profile">
                <div class="about-content-block">
                  <h4 class="grey">Personal Information</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur</p>
                </div>
                <div class="about-content-block">
                  <h4 class="grey">Education</h4>
                  <div class="ed-institution">
                    <div class="inst-name">
                      <h5>Oxford</h5>
                      <p>Dash Subject</p>
                    </div>
                  </div>
                </div>

                <div class="about-content-block">
                  <h4 class="grey">Expertise</h4>
                  <ul>
                     <li>CAD</li>
                     <li>Design</li>
                  </ul>
                </div>

                <div class="about-content-block">
                  <h4 class="grey">Interests</h4>
                  <ul>
                     <li>Cycling</li>
                     <li>Book Reading</li>
                  </ul>
                </div>
                <div class="about-content-block">
                  <h4 class="grey">Language</h4>
                    <ul>
                      <li><a href="#">Russian</a></li>
                      <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="about-content-block">
                  <h4 class="grey">Country</h4>
                    <p>Bangladesh</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock timeline-display-content %}