{% extends "cibling_web/base.html" %}

{% block timeline-content %}
    {% load static %}
    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">
                  <img src="{% static "images/users/user-1.jpg" %}" alt="" class="img-responsive profile-photo" />
                  <h3>Sarah Cruiz</h3>
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="#" class="active">Timeline</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Album</a></li>
                  <li><a href="#">Friends</a></li>
                </ul>
                <ul class="follow-me list-inline">
                  <li>1,299 people following her</li>
                  <li><button class="btn-primary">Add Friend</button></li>
                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">
              <img src="{% static "images/users/user-1.jpg" %}" alt="" class="img-responsive profile-photo" />
              <h4>Sarah Cruiz</h4>
              <p class="text-muted">Creative Director</p>
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="#" class="active">Timeline</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Album</a></li>
                <li><a href="#">Friends</a></li>
              </ul>
              <button class="btn-primary">Add Friend</button>
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">

              <!-- Post Create Box
              ================================================= -->
              <div class="create-post">
                <div class="row">
                  <div class="col-md-7 col-sm-7">
                    <div class="form-group">
                      <img src="{% static "images/users/user-1.jpg" %}" alt="" class="profile-photo-md" />
                      <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5">
                    <div class="tools">
                      <ul class="publishing-tools list-inline">
                        <li><a href="#"><i class="ion-compose"></i></a></li>
                        <li><a href="#"><i class="ion-images"></i></a></li>
                        <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                        <li><a href="#"><i class="ion-map"></i></a></li>
                      </ul>
                      <button class="btn btn-primary pull-right">Publish</button>
                    </div>
                  </div>
                </div>
              </div><!-- Post Create Box End-->

              {% for post in posts %}
                <div class="post-content">

                    <!--Post Date-->
                    <div class="post-date hidden-xs hidden-sm">
                      <h5>{{ post.author }}</h5>
                      <p class="text-grey">{{ post.time }}</p>
                    </div><!--Post Date End-->

                    <img src="{% static 'images/post-images/13.jpg' %}" alt="post-image" class="img-responsive post-image" />
                    <div class="post-container">
                      <img src="{{ post.author.profile.image.url }}" alt="user" class="profile-photo-md pull-left" />
                      <div class="post-detail">
                        <div class="user-info">
                          <h5><a href="#" class="profile-link">{{ post.author }}</a> <span class="following">following</span></h5>
                          <p class="text-muted">Published a photo {{ post.time_posted }}</p>
                        </div>
                        <div class="reaction">
                          <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                          <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                        </div>
                        <div class="line-divider"></div>
                        <div class="post-text">
                          <p>{{ post.content }}<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                        </div>
                        <div class="line-divider"></div>
                          {% for comment in post.comments %}
                              <div class="post-comment">
                                <img src="{% static comment.authorimg %}" alt="" class="profile-photo-sm" />
                                  <p><a href="timeline.html" class="profile-link">{{ comment.author }}</a><i class="em em-laughing"></i> {{ comment.content }}</p>
                              </div>
                          {% endfor %}
                            <div class="post-comment">
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
              <!-- Post Content

              ================================================= -->
            </div>
            <div class="col-md-2 static">
              <div id="sticky-sidebar">
                <h4 class="grey">Sarah's activity</h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                    <p class="text-muted">5 mins ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                    <p class="text-muted">an hour ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                    <p class="text-muted">4 hours ago</p>
                  </div>
                </div>
                <div class="feed-item">
                  <div class="live-activity">
                    <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                    <p class="text-muted">a day ago</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock timeline-content %}